@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,400&display=swap');

body {
  display: grid;
  place-items: center;
  font-family: 'Nunito', sans-serif;
  background-color: hsl(212, 46%, 22%);
  color: #afb1c1;
}

/* .short-url {
  margin: 10px;
}

.short-url a {
  display: block;
  color: hsl(160, 66%, 30%);
  width: 40vw;
  height: 1.5vw;
  text-decoration: none;
} */

input[type='url'] {
  display: block;
  width: 40vw;
  height: 1.5vw;
  margin: 10px auto;
}

input[type='submit'] {
  display: block;
  margin: 10px auto;
  background-color: #3f51b5;
  color: white;
  border: 0px;
  border-radius: 2px;
  padding: 4px 8px;
  font-family: 'Nunito', sans-serif;
}

p.error {
  color: #f44336;
}
.icon-container {
  position: fixed; /* Fixed positioning to keep the icon at the top */
  top: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  z-index: 1000; /* Ensure it's above other elements */
}

/* Styling the icon */
.icon-container .fa-icon {
  font-size: 24px; /* Adjust the size of the icon */
  color: #333; /* Adjust the color of the icon */
}
.url-box {
  
  background-color: #f0f0f0;
  border: 0px solid #ccc;
  border-radius: 0px;
  padding: 0.00005px;
  height: 50px;
  width: fit-content; /* Adjust width as needed */
  margin: 10px auto; /* Adjust margin as needed */
}

.url-box a {
  color: darkred;
  text-decoration: none;

}